/** -------------------------- NODE -------------------------- **/

.muster-node-wrapper {
  width: 28px;
  height: 28px;
  padding: 0px;
  margin: auto;
  /* display: flex; */
}

.muster-node {
  border: 2px solid rgb(193, 242, 245);
  margin-left: 0px;
  font-size: 2.5em;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.muster-not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

/* +++++++++++++++ LOCATOR CLASSES +++++++++++++++ */

.muster-start,
.muster-end {
  background-color: transparent !important;
  border: 4px solid transparent !important;
}
.muster-smaller {
  transform: scale(0.85);
}
.muster-wall,
.muster-weight {
  background-color: #164850 !important;
  border: 2px solid #164850 !important;
}
.muster-algo {
  background-color: rgb(105, 160, 173) !important;
  border: 2px solid rgb(158, 223, 226) !important;
}
.muster-path {
  background-color: #ffe66d !important;
  border: 2px solid rgb(158, 223, 226) !important;
  text-decoration: none;
}

.muster-norm {
  background: white;
}

.rel {
  position: relative;
  width: 112%;
  height: 112%;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  filter: invert(34%) sepia(75%) saturate(433%) hue-rotate(140deg)
    brightness(93%) contrast(86%);
}
.en {
  margin-left: 20%;
}
.st {
  margin-top: -5%;
  margin-right: -30%;
  margin-left: -5%;
}

.hand {
  position: absolute;
  z-index: 0;
  margin: -7%;
  margin-left: 0%;
  transform: scale(0.75);
  filter: invert(95%) sepia(8%) saturate(1403%) hue-rotate(349deg)
    brightness(105%) contrast(89%);
}

.bg {
  position: absolute;
  z-index: 0;
  margin: -7%;
  transform: scale(0.75);
  filter: invert(89%) sepia(21%) saturate(436%) hue-rotate(8deg)
    brightness(106%) contrast(89%);
}
