/** -------------------------- NODE -------------------------- **/

.muster-node-wrapper {
  width: 28px;
  height: 28px;
  padding: 0px;
  margin: auto;
  /* display: flex; */
}

.muster-node {
  border: 2px solid rgb(193, 242, 245);
  margin-left: 0px;
  font-size: 2.5em;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.muster-not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

/* +++++++++++++++ LOCATOR CLASSES +++++++++++++++ */

.muster-start,
.muster-end {
  background-color: transparent !important;
  border: 4px solid transparent !important;
}
.muster-smaller {
  transform: scale(0.85);
}
.muster-wall,
.muster-weight {
  background-color: #164850 !important;
  border: 2px solid #164850 !important;
}
.muster-algo {
  background-color: rgb(105, 160, 173) !important;
  border: 2px solid rgb(158, 223, 226) !important;
}
.muster-path {
  background-color: #ffe66d !important;
  border: 2px solid rgb(158, 223, 226) !important;
  text-decoration: none;
}

.muster-norm {
  background: white;
}
