.full-grid {
  /*min-height: 70vh;*/
  display: grid;
  text-align: center;
  justify-content: space-around;
  margin: 0px;

  /**
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;**/
}

@font-face {
  font-family: crawl;
  src: url(../fonts/SWCrawlBody.ttf);
}

#custom-bg {
  background-color: #164850;
  padding-top: 5px;
}

.bold-text {
  font-family: crawl, "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #206570 !important;
}

.bold-text-bigger {
  font-family: crawl, "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #206570 !important;
}
.weight-red {
  color: #e63946 !important;
  text-decoration: line-through !important;
}
.algo-text-highlight {
  font-style: italic;
  color: #ffe66d;
}
#text-algo {
  font-weight: bold;
  background-color: #ffe66d;
  border: solid 2px rgb(176, 230, 243);
  letter-spacing: 1px;
  padding: 6px;
  color: #164850;
}

/* ------------- Not active ------------- */
.not-active {
  pointer-events: none;
  cursor: default;
  /* text-decoration: none; */
  text-decoration: line-through;
  /* font-weight: bold; */
  font-style: italic;
  color: rgb(160, 160, 160) !important;
}

/* ------------- MUSTER NAV ------------- */
.muster-nav {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.muster-noflex {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

/* ------------- BRAND TITLE ------------- */
#brand {
  /*font-weight: bold;*/
  color: rgb(230, 230, 230);
  justify-content: left;
}
.brand-name {
  /* color: #ffe66d; */
  font-weight: bold;
}

/* ------------- DROPDOWN MENU ------------- */
.dropdown-title {
  color: rgba(190, 190, 190, 0.63);
  background-color: #164850;
  text-decoration: none;
  border-radius: 20%;
  transition-delay: 1s; /* delays for 1 second */
  -webkit-transition-delay: 1s; /* for Safari & Chrome */
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.dropdown-link {
  color: #164850;
  font-weight: bold;
  font-size: 13px;
  font-family: crawl, "Arial Narrow", Arial, sans-serif;
  background-color: #f1edb4;
  text-decoration: none;
}
.dropdown-link:hover {
  background-color: #ffe66d;
  color: #164850;
}
.dropdown-link:visited,
.dropdown-link:active,
.dropdown-link:link {
  text-decoration: none;
}
.dropdown .dropdown-menu {
  -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.dropdown.show .dropdown-menu {
  -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  transition: max-height 0.3s, opacity 0.2s, visibility 0s;

  max-height: 190px;
  opacity: 1;
  visibility: visible;
}
.dropdown-menu {
  background-color: #f1edb4;
  border-radius: 0%;
  border: 4px solid rgb(193, 242, 245);
}
#header-link-alg {
  padding-top: 0px;
  background-color: transparent;
  color: rgb(230, 230, 230);
  font-weight: bold;
  padding: 4px 10px;
  margin: 6px 0px 0px 0px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
}
#header-link-alg:hover {
  color: #ffe66d;
  font-weight: bold;
  transform: rotate(-5deg);
  transition: transform 0.2s;
}

/* ------------- MENU LINKS ------------- */

.header-classic {
  color: rgba(190, 190, 190, 0.63);
  background-color: transparent;
  padding: 4px 10px;
  margin: 6px 0px 0px 0px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
}

#header-link {
  color: rgb(230, 230, 230);
  background-color: #164850;
  padding: 4px 10px;
  text-align: center;
  margin: 6px 3px 3px 3px;
  /* text-decoration: none; */
  display: inline-block;
  border-radius: 20%;
  float: none;
}
#header-link:hover {
  color: #ffe66d;
  transform: rotate(-7deg);
  transition: transform 0.2s;
}

#header-link-viz {
  color: #164850;
  background-color: white;
  border: 2px solid rgb(193, 242, 245);
  font-weight: bold;
  padding: 0px 6px;
  text-align: center;
  margin: 8px 0px 0px 0px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
  float: none;
}
#header-link-viz:hover {
  color: #164850;
  background-color: #ffe66d;
  transform: rotate(-7deg);
  transition: transform 0.2s;
}

.collapse-nav {
  align-items: center !important;
  justify-content: center !important;
  text-decoration: none;
}

.toggle-nav {
  align-items: center !important;
  justify-content: center !important;
  text-decoration: none;
  border-radius: 0%;
}
.toggle-nav:hover {
  border: 1px solid rgb(151, 213, 216);
  border-radius: 0%;
  background-color: #1e616b;
}
.toggle-nav:focus {
  outline: none;
}

.tooltip-custom {
  padding: 8px;
  backdrop-filter: blur(2px);
  color: white;
  font-size: 13px;
  font-family: crawl, "Arial Narrow", Arial, sans-serif;
  background-color: rgba(30, 97, 107, 0.63) !important;
}

#nav-height {
  height: 5px !important;
  padding: 0px !important;
  margin: 0px !important;
  min-height: 0px !important;
  line-height: 5px !important;
}

.nav-description {
  padding: 0px;
  margin: 0px 0px 5px 0px;
}
